.ootd_grid {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    & .ootd_item {
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }
}

.no_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: fluid-width(5.7rem, 15rem) 0;

    svg {
        width: 4.5rem;
        height: 4.5rem;
    }

    p {
        font-size: fluid-width(1.2rem, 1.6rem);
        line-height: 100%;
        color: $gray-500;
    }
    p:first-of-type {
        font-weight: 700;
    }
}
