# api
application-*.properties
build/
out/
bin/
.idea/
*.iml
*.log
logs/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# client
node_modules/
dist/
build/
.vite/
.env*
.idea/
.DS_Store
*.iml
.idea/workspace.xml
.idea/tasks.xml