.home {
    padding: 1.5rem;

    & .filter_btn_group {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;

        & button {
            background-color: $gray-200;
            width: fluid-width(6rem, 7rem);
            height: fluid-width(2.9rem, 3.5rem);
            border-radius: fluid-width(1.5rem, 3rem);

            font-weight: 400;
            font-size: fluid-width(1.2rem, 1.4rem);
            line-height: 100%;
        }
        & button.active {
            background-color: black;
            color: $white;
        }
    }
}
