.popular_hashtag {
    margin-top: 2.5rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 100%;
}
.popular_hashtag_list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        button {
            display: block;
            width: 100%;

            font-size: fluid-width(1.2rem, 1.4rem);
            line-height: 100%;
            color: $gray-500;

            border: none;
            border-radius: 20px;
            background-color: $gray-100;
            padding: fluid-width(0.6rem, 0.8rem) fluid-width(1.5rem, 1.8rem);

            &:hover {
                background-color: $gray-200;
            }
        }
    }
}
.search_result {
    margin-top: 2.5rem;

    .ootd_grid {
        padding: 0.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;

        & .ootd_item {
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }
    }
}
