nav {
    background: $white;
    width: 100%;
    max-width: 76.8rem;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    & .nav_inner_box {
        width: 100%;
        padding: 0 fluid-width(2.5rem, 5rem);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .homeIcon,
    .searchIcon,
    .ootdAddIcon,
    .likeIcon,
    .userIcon {
        color: $gray-400;
    }
}
