nav {
    width: 100%;
    position: fixed;
    bottom: 1.5rem;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    & .nav_inner_box {
        width: 100%;
        max-width: 76.7rem;
        padding: 0 fluid-width(2.5rem, 5rem);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .homeIcon,
    .searchIcon,
    .ootdAddIcon,
    .likeIcon,
    .userIcon {
        color: $gray-400;
    }
}
