@font-face {
    font-family: 'Pacifico';
    src: url('../../assets/fonts/pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* 폰트 로딩 최적화 */
}

header {
    height: fluid-width(5rem, 10rem);
    border-bottom: 1px solid $gray-200;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    & .header_inner_box {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            font-family: Pacifico, serif;
            font-size: fluid-width(2rem, 4rem);
            line-height: normal;
        }

        & .alim {
            width: fluid-width(2rem, 4rem);
            height: fluid-width(2rem, 4rem);
        }
    }

    & .page_box {
        width: 100%;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        button {
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
        }

        & .page_name {
            font-size: fluid-width(1.6rem, 2rem);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
